.home {
    margin-top: 150px;
    font-family: Arial, sans-serif;
}

.profile-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background-color: var(--color-4);
    min-height: 200px;
}

.profile-section h2{
    color: var(--color-1);
    font-size: 22px;
}

.profile-section img{
    width: 170px;
    height: 170px;
}

.profile-image {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #00000094;
    object-fit: cover;
    top: -30px;
}

.profile-links{
    color: var(--color-2);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 10px;
    margin-left: auto;
}

.profile-name {
    font-size: 18px;
    margin-top: 10px;
}

.about-section {
    background-color: var(--color-5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 20px 0;
}

.products-section {
    text-align: center;
}

.products-section h3 {
    color: var(--color-5);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}