.home {
    margin-top: 150px;
    font-family: Arial, sans-serif;
}

.profile-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background-color: var(--color-4);
    min-height: 200px;
}

.profile-section h2 {
    color: var(--color-1);
    font-size: 22px;
}

.profile-section img {
    width: 170px;
    height: 170px;
}

.profile-image {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #00000094;
    object-fit: cover;
    top: -30px;
}

.profile-links {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 10px;
    margin-left: auto;
}

.profile-links .logo-instagram {
    color: var(--color-2);
}

.profile-links .logo-mail {
    color: var(--color-2);
}

.profile-name {
    font-size: 18px;
    margin-top: 10px;
}



.about-section {
    position: relative;
    background-color: var(--color-5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 20px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.about-section::before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    height: 90%;
    left: 10px;
    width: 2px;
    background-color: white;
}

.products-section {
    text-align: center;
}

.products-section h3 {
    color: var(--color-5);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (min-width: 375px) {
    .products-section h3 {
        font-size: 22px;
    }
}

@media (min-width: 425px) {
    .profile-section h2 {
        font-size: 20px;
    }

    .products-section h3 {
        font-size: 20px;
    }

    .products-section .product-card {
        width: 250px;
    }

    .product-card img {
        width: 250px;
    }

    .product-card .product-description {
        font-size: 16px;
    }

    .product-card .product-price {
        font-size: 18px;
    }
}

@media (min-width: 768px) {

    .profile-section {
        min-height: 230px;
    }

    .profile-section h2 {
        font-size: 22px;
    }

    .about-section p {
        font-size: 16px;
    }

    .products-section h3 {
        font-size: 22px;
    }

    .profile-section img {
        width: 200px;
        height: 200px;
    }

    .profile-links {
        font-size: 28px;
    }

    .products-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .products-section .product-card {
        width: 280px;
    }

    .product-card img {
        width: 280px;
        height: 200px;
    }

    .products-section .product-info {
        min-height: 150px;
    }

    .products-section .product-title {
        font-size: 18px;
    }

    .products-section .product-description {
        font-size: 14px;
    }

    .products-section .product-price {
        font-size: 18px;
    }

    .products-section .product-button {
        font-size: 16px;
    }

}

@media (min-width: 1024px) {

    .profile-section h2 {
        font-size: 24px;
    }

    .content-wrapper {
        display: flex;
        align-items: flex-start;
    }

    .about-section {
        flex: 1;
        margin-left: 20px;
        margin-top: 85px;
        max-width: 300px;
    }

    .vertical-line {
        border: 1px solid var(--color-4);
        height: 415px;
        margin: 30px 10px 30px 30px;
    }

    .products-section {
        display: flex;
        flex-direction: column;
        flex: 2;
    }

    .products-section h3 {
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .product-row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .product-card {
        flex: 1;
        max-width: 48%;
    }
}

/* Estilos para 1440px */
@media (min-width: 1440px) {

    .profile-section {
        min-height: 280px;
    }

    .profile-section img {
        width: 250px;
        height: 250px;
    }

    .profile-links {
        font-size: 36px;
    }

    .products-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 40px;
    }

    .products-section h3 {
        width: 100%;
        font-size: 36px;
        text-align: center;
    }

    .products-section .product-card {
        width: 350px;
    }

    .product-card img {
        width: 350px;
    }

    .product-card .product-description {
        font-size: 20px;
    }

    .product-card .product-price {
        font-size: 22px;
    }
}