.home {
    padding: 20px;
    margin-top: 100px;
    font-family: Arial, sans-serif;
}

.profile-section {
    text-align: center;
    padding: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #3a8fb7;
    object-fit: cover
}

.profile-name {
    font-size: 18px;
    margin-top: 10px;
}

.about-section {
    background-color: var(--color-5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 20px 0;
}

.products-section {
    text-align: center;
}

.products-section h3 {
    color: var(--color-5);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}