.forgot-password-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.forgot-password{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo{
    width: 150px;
    margin-bottom: 10px;
    height: auto;
}

.forgot-password h1 {
    margin-bottom: 10px;
    color: var(--color-5);
    font-size: 30px;
}

.forgot-password p{
    color: var(--text-color-grey);
    margin-bottom: 20px;
    font-size: 15px;
}

.forgot-password-form{
    max-width: 300px;
    background-color: var(--color-2);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}


.forgot-password-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.forgot-password-form .form-group input {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--color-4);
    font-size: 16px;
    color: black;
    padding: 10px 10px 10px 0;
}

.forgot-password-form .form-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    transition: 0.3s;
}

.forgot-password-form .form-group input:focus + label,
.forgot-password-form .form-group input:not(:placeholder-shown) + label,
.forgot-password-form .form-group input.filled + label {
    top: -10px;
    font-size: 12px;
    font-weight: 700;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.password-toggle-icon {
    width: 20px;
    height: 20px;
}

.forgot-password-button {
    text-align: center;
}

.forgot-password-button .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-5);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--color-hover);
}

.message {
    margin-top: 20px;
    padding: 10px;
    font-weight: 700;
    color: #f00;
}

.link-a-inicio{
    color: var(--color-5);
    text-decoration: none;
    font-weight: 600;
}

.link-a-inicio:hover{
    text-decoration: underline;
    font-weight: 700;
}