.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--color-1);
    height: 100vh;
}

.contact-form-container h1 {
    color: var(--color-5);
    font-size: 30px;
}

.contact-form {
    width: 100%;
    max-width: 300px;
    background-color: var(--color-2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 2px solid var(--color-4);
    background: none;
    font-size: 16px;
    color: black;
}

.form-group input:focus,
.form-group input:valid,
.form-group textarea:focus,
.form-group textarea:valid {
    outline: none;
    border-bottom: 2px solid var(--color-5);
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: black;
    transition: 0.2s;
    pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
    top: -16px;
    font-size: 12px;
    color: black;
    font-weight: 700;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 80%;
    padding: 10px;
    background-color: var(--color-5);
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: var(--color-hover);
}

.alert{
    background-color: red;
    color: whitesmoke;
}