.container-favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.icon-heart {
    font-size: 100px;
    color: var(--color-5);
}

.container-favorites h3{
    font-size: 24px;
}

.container-favorites p{
    font-size: 16px;
    padding: 10px;
    color: var(--text-color-grey);
}

.content-favorites{
    text-align: center;
    padding: 10px;
}

.btn-favoritos{
    padding: 10px;
    background-color: var(--color-5);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 50px;
}
