* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #FEFEFE;
    --color-2: #EAE7E2;
    --color-3: #D9D2CA;
    --color-4: #C9BCAA;
    --color-5: #C79874;
    --color-hover: #B28465;
    --text-color-grey: #7c7c7c;
}

body {
    font-family: 'Poppins', sans-serif;
}